@font-face {
  font-family: consoleFont;
  src: url(./assets/fonts/basis33.ttf);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: consoleFont;
  scroll-behavior: smooth;
  outline: none;
}
body {
  height: 200vh;
  background-color: black;
  overflow-x: hidden;
}
.header {
  z-index: 0;
  display: flex;
  align-items: center;
  min-height: 100vh;
  padding: 2rem;
  background-color: black;
}
.header__info {
  width: 50%;
}
.sticky-menu {
  position: sticky;
  z-index: 3;
  top: 0;
  right: 0;
  display: flex;
  width: fit-content;
}
.sticky-menu .bg {
  position: absolute;
  width: 100vw;
  height: 19px;
  background-image: linear-gradient(90deg, rgb(23, 92, 156), rgb(52, 182, 182));
}
.sticky-menu .sticky-menu__content a {
  color: rgb(228, 237, 100);
  text-decoration: none;
  padding: 0 5px;
  line-height: 14px;
  border-right: 1px solid rgb(228, 237, 100);
  white-space: nowrap;
}
.sticky-menu .sticky-menu__content a sup {
  display: inline-block;
  font-size: 12px;
  transform: translateY(2px);
  margin-left: 3px;
  padding: 0 1px;
  line-height: 11px;
  border-radius: 2px;
  background: rgb(228, 237, 100);
  color: rgb(23, 92, 156);
}
.sticky-menu:hover .sticky-menu__content {
  animation-play-state: paused;
}
.sticky-menu .sticky-menu__content a:hover {
  text-decoration: underline;
}
.sticky-menu__content {
  display: flex;
  flex-flow: row nowrap;
  align-items: flex-end;
  width: fit-content;
  transform: translate(0, 0);
  animation: ticker 200s infinite linear;
}
.parallax {
  position: fixed;
  z-index: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100vw;
  height: 100vh;
  padding: 5vw;
}
.parallax img {
  width: 45%;
}
h2 {
  margin-bottom: 35px;
  color: rgb(255, 255, 255);
  font-size: 4rem;
  font-weight: 700;
}
.degrade {
  background-image: linear-gradient(
    90deg,
    rgb(37, 125, 208),
    rgb(89, 228, 228)
  );
  color: rgb(228, 237, 100);
}
.header p {
  margin: 30px 0px 0px;
  color: rgb(149, 152, 129);
  font-size: 18px;
}
.gallery {
  position: relative;
  z-index: 2;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 30px 0 30px;
  background: rgba(0, 0, 0, 0.9);
}
.gallery a {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 100px 70px 0;
  color: blue;
}
.gallery a img {
  width: 50vw;
  max-height: 100vh;
  object-fit: cover;
}
.gallery a div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.gallery a div img {
  width: 30px;
  height: 30px;
}
.gallery a p {
  margin: 0 15px 0 40px;
  color: rgb(228, 237, 100);
  font-size: 35px;
  text-align: center;
}
footer {
  position: relative;
  z-index: 2;
  padding: 70px 0;
  background: rgba(0, 0, 0, 0.9);
  color: rgb(228, 237, 100);
  font-size: 28px;
  text-align: center;
}
@media screen and (max-width: 900px) {
  .gallery a {
    flex-flow: column;
    padding: 60px 40px 0;
  }
  .gallery a img {
    width: auto;
    height: auto;
    object-fit: contain;
  }
  .gallery a p {
    margin: 30px 0 0;
  }
  .gallery a div img {
    display: none;
  }
}

@media screen and (max-width: 640px) {
  .parallax img {
    width: 100%;
  }
  .header {
    position: relative;
    z-index: 2;
    background: rgba(0, 0, 0, 0.8);
  }
  .header__info {
    width: 70%;
  }
}

@media screen and (max-width: 555px) {
  .header__info {
    width: 100%;
  }
}
@keyframes ticker {
  0% {
    transform: translate(0, 0);
  }

  100% {
    transform: translate(-100%, 0);
  }
}
